.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.rating {
  font-size: 40px;
  line-height: 60px;
  font-smoothing: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ratio {
  font-size: 13px;
  line-height: 15px;
  margin-top: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
}