.overlay {
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.colorControls {
  position: fixed;
  bottom: 82px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
  display: flex;
  flex-direction: column;

  &.leftAlgin {
    left: 10px;
  }

  &.rightAlign {
    right: 10px;
  }

  & :global(.chrome-picker) {
    box-shadow: none !important;
  }
}

.doneBtn {
  appearance: none;
  border: 0 none;
  padding: 0;
  margin-top: 10px;
  background-color: transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #2788F6;
  margin: 10px 0;
}
