.container {
  display: flex;
  padding: 5px 15px 10px;
  justify-content: space-around;
  color: #fff;
  background-color: #1a1a1a;
}

.swapBtn {
  appearance: none;
  background: transparent;
  border: 0 none;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 13px;
  line-height: 20px;

  & b {
    font-weight: 600;
    font-smoothing: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 2px;
  }
}

.colorInput {
  width: 100%;
  border: 0 none;
  padding: 0;
  appearance: none;
  border-image: none;
  height: 30px;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
}

.hexValue {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.6;
  margin-top: 3px;
}