.view {
  display: flex;
  color: #fff;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.swapButton {
  appearance: none;
  background: transparent;
  border: 0 none;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  padding: 0;
}

.swapButton img {
  display: bloc;
}

@media (max-width: 500px) {
  .swapButton {
    width: 30px;
    margin: 0 5px;
  }
}