.blindnessOptionsContainer {
  &.lightText {
    color: #fff;

    & .blindOption input:focus {
      background-color: rgba(255,255,255,0.2);
    }
  }
  
  &.darkText {
    color: #000;

    & .blindOption input:focus {
      background-color: rgba(0,0,0,0.2);
    }
  }
}

.blindTypes {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border: 0;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  &.lightText {
    color: #fff;
  }
  
  &.darkText {
    color: #000;
  }
}

.blindLabel {
  width: 100%;
  text-align: left;
  font-size: 12px;
  line-height: 10px;
  padding: 0 10px;
  display: block;
  padding-top: 10px;
  opacity: 0.9;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.5px;
  user-select: none;
  cursor: default;
}

.blindOption {
  flex-grow: 1;
  flex-shrink: 1f;
  font-size: 12px;
  line-height: 15px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & span {
    opacity: 0.7;
    transition: opacity 0.2s;
    user-select: none;

    &:hover {
      opacity: 1;
    }
  }

  & input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: calc(100% - 3px);
    appearance: none;
    background: transparent;
    border: 0 none;
    border-radius: 5px 5px 0 0;

    &:checked {
      & + span {
        opacity: 1;
      }

      & ~ .triangle {
        display: block;
      }
    }
    
    &:hover {
      & + span {
        opacity: 1;
      }
    }

    &:focus {
      outline: 0 none;
    }
  }
}

.triangle {
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -5px;
  display: none;
  width: 10px;
  height: 10px;
}