.blindTypes {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border: 0;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.blindLabel {
  width: 100%;
  text-align: left;
  font-size: 12px;
  line-height: 10px;
  padding: 0 10px;
  display: block;
  padding-top: 10px;
  opacity: 0.9;
  font-weight: 500;
}

.blindOption {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 12px;
  line-height: 15px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & span {
    opacity: 0.6;
  }

  & input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    background: transparent;
    border: 0 none;

    &:checked {
      & + span {
        opacity: 1;
        font-weight: 600;
      }

      & ~ .triangle {
        display: block;
      }
    }
  }
}

.triangle {
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -5px;
  display: none;
  width: 10px;
  height: 10px;
}