.blindTypes {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.blindOption {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 12px;
  line-height: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    opacity: 0.5;
  }

  & input {
    display: none;

    &:checked {
      & + span {
        opacity: 1;
      }
    }
  }
}