.blindTypes {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.blindOption {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 12px;
  line-height: 15px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & span {
    opacity: 0.5;
  }

  & input {
    display: none;

    &:checked {
      & + span {
        opacity: 1;
      }

      & ~ .triangle {
        display: block;
      }
    }
  }
}

.triangle {
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -5px;
  display: none;
  width: 10px;
  height: 10px;
}